main {
    margin-top: 0px;
}

.filter {
    padding: 30px;
    /* background-color: white; */
    
}

form {
    padding: 15px;
    /* background-color: antiquewhite; */
    /* border-radius: 25px; */
}

.adv-check{
    margin: 5px 0 15px ;
}

h4 {
    min-height: 60px;
}

