.transparent-box {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px black; /* Sombra ligera */
}

.color-order{
    color: #7a6ff1;
}

.color-text{
    color: #acacac;
    line-height: 2;
}

/* Agrega estilos para el mensaje de error en el tema oscuro */
.error-message-dark {
    background-color: #343a40 !important;
    color: #ffc107 !important;
    border-color: #ffc107 !important;
    text-align: center;
}

.no-select {
    user-select: none;
}

hr {
    border: 1px solid white !important;
}

/* Estilos para la ventana flotante */
.comment-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.comment-popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-popup {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para el botón de comentarios */
.comment-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para el botón de spoiler */
.spoiler-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.spoiler {
    background-color: gray; /* Barra gris para ocultar spoilers */
    color: gray;
    cursor: pointer;
}

#comments {

    background-color: #1b1b1b;
    opacity: 1;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

/* Estilos para cada comentario */
#comments .comment {
    background-color: #fff;
    opacity: 0.75;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    color: #000;
}

/* Estilos para la imagen de usuario */
#comments img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-right: 1rem;
}

/* Estilos para los datos del usuario */
#comments .user-info {
    display: flex;
    align-items: center;
}

/* Estilos para el nombre del usuario */
#comments .user-info h6 {
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
}

/* Estilos para la fecha del comentario */
#comments .user-info p {
    color: #007bff;
    margin-bottom: 0;
    font-family: monospace;
}

/* Estilos para el encabezado de comentarios */
#comments h5 {
    color: #fff;
    padding: 0.5rem 1rem;
}

/* Estilos para la línea horizontal */
#comments hr {
    height: 2px;
    width: 100%;
    border-width: 1px;
    background-color: aliceblue;
    margin: 0;
}